.container{
    margin-top: 120px;
    height: 100vh;
    background-color: skyblue;
}
:root{
    --color-primary: #f53d2d;
    --color-secondary: #f63;
    --color-white: #fff;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}