:root{
    --color-primary: #f53d2d;
    --color-secondary: #f63;
    --color-white: #fff;
    --header-height: 122px;
    --navbar-height: 34px;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

/* --------- TEMP --------- */
.grid__col-2{
    padding: 0 5px;
    width: 16.66667%;
}
.grid__col-2-4{
    padding: 0 5px;
    width: 20%;
}
.grid__col-4{
    padding: 0 5px;
    width: 33.33333%;
}
.grid__col-10{
    padding: 0 5px;
    width: 83.33333%;
}







/*--------- Button ----------*/
.btn{
    font-size: 1.8rem;
    min-height: 36px;
    min-width: 142px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    outline: none;
    background-color: #fff;
    color: black;
    padding: 8px;
    border-radius: 2px;
}
.btn.btn--normal:hover{
    background-color: #fcfcfc;
}
.btn.btn--size-s{
    min-height: 32px;
    min-width: 120px;
    font-size: 1.4rem;
}
.btn.btn--disable{
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}
.btn.btn--primary{
    color: var(--color-white);
    background-color: var(--color-primary);
}
.btn.btn--primary:hover{
    background-color: rgba(245, 61, 45, .8);
}

/*---------- Animation ---------*/
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/*-------MODAL-------*/
.modal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}
.modal__body{
    --growth-from: 0.3;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear .1s;
}